.gradle/
out/

#Minecraft Forge
logs/
crash-reports/
config/

#IDE
.idea/
projectFilesBackup/
Femtocraft.iml
Femtocraft.ipr
Femtocraft.iws
eclipse/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs

/*
!/src
!/src/
!/src/*
!/art
!/art/
!/art/*
!/build.gradle
!/gradlew
!/gradlew.bat
!/.gitlab-ci.yml
!/.gitignore
!/build.gradle.token
!/ReplaceToken.sh
!/gradle/wrapper/
!ModelFile_UV_Halver.py
